html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html{
  scroll-behavior: smooth
}

.picture-background{
  height: 100vh;
  background-image: url(yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
 
}

.main-text{
  padding-top: 17%;
  text-align: center;
  color: white;
  font-weight: 450;
  font-size: 500%;
  border: black;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}

.text-loop{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.main-background{
  background: white;
  height: 75%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.intro{
  height: 80%;
  text-align: center;
  justify-content: center;
}

.profile-pic{
  margin-top: 10%;
  max-height: 75%;
  max-width: 75%;
}

.nav-bg-color{
  background-color: #90e1ef00;
}

.header{
  display: flex;
  text-align: center;
  justify-content: center;
}

.name{
  font-size: 300%;
  color: #023E8A;
}

.name-detail{
  font-size: 100%;
  color: #0077B6;
}

.nav-text{
  color: #0077B6;
}

.experience-background{
  background: #f4f3ee;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.experience-type{
  font-size: 150%;
}

.experience-image{
  max-height: 100%;
  max-width: 100%;
  border-radius: 25px;
  background-color: white;
}

.project-background{
  background: white;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer{
  height: 20%;
  padding-top: 5%;
  padding-bottom: 2.5%;
  background: white;
  text-align: center;
}

.about-me-text{
  margin-top: 25%;
}










.Main-background2{
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 600%;
  color: aliceblue;
}

.daniel-button{
  will-change: height, width;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}

.daniel-button-font {
  color: #61dafb;
}

.exit {
  position: relative;
  top: 20px;
  right: 20px;
}

.menu {
  height: 100%; 
  width: 100%;
}

.menu-header{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items{
  height: 80%;
  width: 100%;
  display: grid;
  align-content: space-around;
  flex-direction: row;
}

.item{
  display: flex;
  justify-content: center;
  height: 120px;
  flex-direction: column;
  align-items: center;;
}

/* .font-awesome-icon
#61dafb */

.font-awesome-icon{
  position: relative; 
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background: rgb(212, 212, 212);
  border-radius: 25%;
  font-size: 45px;
  color: rgb(172, 172, 172);
  transition: 0.7s;
}

.font-awesome-icon::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25%;
  background: #61dafb;
  transition: .5s;
  transform: scale(1);
  z-index: -1;
}

.font-awesome-icon:hover::before {
  transform: scale(2);
  box-shadow: 0 0 15px #61dafb;
}

.font-awesome-icon:hover {
  color: #61dafb;
  box-shadow: 0 0 100px #61dafb;
  text-shadow: 0 0 100px #61dafb;
}

